# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# wordpress build artifacts
integrations/wordpress/graduate-directory/build/

# misc
coverage/
*.pem
